.slick-slide {
    margin: 0 15px;
}
.slick-list {
    margin: 0 -15px;
}
.slick-prev:before, .slick-next:before {
    font-family: FontAwesome;
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next, .slick-prev{
    width: 40px;
}
.slick-next {
    right: -50px;
    top: 130px;
    left: auto;
}
.slick-prev {
    left: -50px;
    top: 130px;
    right: auto;
}
.slick-prev:before {
    content: "\f053";
}
[dir="rtl"] .slick-prev:before {
    content: "\f054";
}
.slick-next:before {
    content: "\f054";
}
[dir="rtl"] .slick-next:before {
    content: "\f053";
}