.intro-page
    +below(1230px)
        .intro-page-inner
            text-align: center
            padding: 30px            
            .intro-page-title
                font-size: 50px
                line-height: 44px
    +below(340px)
        .intro-page-inner
            .intro-page-description
                margin-top 10px
                line-height: 20px