.intro-home
    +below(break-nav)
        .intro-home-inner
            padding 0 15px
    +below(340px)
        .intro-home-inner
            .intro-home-title
                font-size: 50px
                line-height: 44px
            .intro-home-description
                line-height: 30px

                
