.intro-post
    +below(1230px)
        .intro-post-inner
            text-align: center
            .intro-post-title
                font-size: 50px
                line-height: 44px
    +below(340px)
        .intro-post-inner
            .intro-post-description
                margin-top 10px
                line-height: 20px