.slice.price-table
    +below(1000px)
        .price-table-main
            .table-price
                lost-utility clearfix
                lost-center 300px
                padding 0
                .item
                    lost-column 1/1 1
                    margin-bottom: 60px
