.share
    display flex
    align-items center
    justify-content flex-end
    .share-txt
        margin 0
        display inline-block
        padding-right: 5px
    a.btn
        color white
        corbotao()
        i.fa
            padding-right: 6px
            border-right 1px solid darken(colors, 50%)
        span
            padding-left 6px