.slice.newsletter
    .slice-inner
        padding 0 15px
        .form
            lost-center 700px
            .input-group
                background-clip padding-box
                .btn
                    color colors
                    &:after
                        content " Enviar"
            .help-block
                color white