.slice.depoimentos
    .depoimentos-main
        .depoimento:not(:nth-child(3)):not(:nth-child(4))
            margin-bottom 25px
        .depoimento
            lost-column 1/2 2
            overflow: hidden
            background-color white
            border 8px solid rgba(black,.3);
            background-clip padding-box
            .depoimento-img
                overflow: hidden
                lost-column 3/10 2
                display flex
                justify-content center
                a
                    height 142px
                    text-align: center
                    img
                        height 100%
                        width auto
            .depoimento-txt
                padding 5px 10px
                border-radius radius
                lost-column 7/10 2
                overflow hidden
                height 120px
            .depoimento-nome
                float: right
                padding: 0 5px
                background-color: colorp
                border-radius radius 0 0 0
                a, i.fa
                    color white
