---
layout: page
title: "Tamanhos"
permalink: /info.html
image: "tamanhos"
intro: "Medidas dos uniformes esportivos."
---

<div class="center">
    <div class="page-content">
        {% include sidebar.html %}
        <div class="sidemain">
            {% for post in site.tags.info limit:1 %}
            <h3 class="part-title">{{ post.title }}</h3>
            <div class="part-content">
                <div class="part-content-inner">
                    {{ post.content }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>