.remodal
    .remodal-inner
        .remodal-close
            left auto!important
            right 5px!important
            color colors!important
            font-weight: bold!important
        .modal-header
            .modal-title
                color colors
                font-weight: bold
                text-align: center
        .modal-body
            .part-img
                width 100%
                height auto
        .modal-footer
            text-align: right
            padding 31px 0 0