<div class="remodal" data-remodal-id="contato" data-remodal-options="hashTracking: true">
    <div class="remodal-inner">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div class="modal-header">
            <h3 class="modal-title">Mensagem enviada</h3>
        </div>
        <div class="modal-body">
            <p>Obrigado pelo contato. Responderemos o mais rápido possível.</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary btn-lg" data-remodal-action="close" href="/">FECHAR</a>
        </div>
    </div>
</div>