<div class="remodal" data-remodal-id="newsletter" data-remodal-options="hashTracking: true">
    <div class="remodal-inner">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div class="modal-header">
            <h3 class="modal-title">Cadastro efetuado com sucesso.</h3>
        </div>
        <div class="modal-body">
            <p>Você saberá com antecedência sobre nossos lançamentos e promoções.</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary btn-lg" data-remodal-action="close" href="/">FECHAR</a>
        </div>
    </div>
</div>