.page.cupons
    +below(768px)
        .page-content
            .main
                .part-content
                    .part-content-inner
                        .oferta-img
                            lost-column 1/1 1 0
                        .oferta-features
                            lost-column 1/1 1 0
                        #form-newsletter
                            margin-bottom: 0
                            .oferta-btn
                                &:before
                                    content ""