.page.area
    +below(800px)
        .page-content
            .main
                .part-content
                    img
                        width auto
                        height 100px
                    .part-content-inner
                        li
                            lost-column 1/1 1
