.page.info
    +below(768px)
        .page-content
            .sidemain
                .part-content
                    .part-content-inner
                        .medidas
                            .medidas-img, .medidas-table
                                lost-column 1/1 1
