.page.sobre
    +below(800px)
        .page-content
            .part
                .part-content
                    .part-image
                        img
                            height 216px