.page.area
    +below(800px)
        .page-content
            .part.part-img
                .part-content
                    img
                        width auto
                        height 100px