.page.produtos
    +below(800px)
        .page-content
            .sidemain
                .part-content
                    .part-content-inner
                        lost-column 1/1 1
                        .part-txt
                            height: auto
