.page-two-columns
    +below(800px)        
        .main
            .main-inner
                padding 0
                .page-content
                    .sidebar
                        display none
                    .sidemain
                        lost-column 1/1 1
                        padding: 0
                        .part-title
                            margin 0 0 0 20px
                        .part-title:first-child
                            margin-top 25px
