.page.cupons
    .page-content
        .main
            .part-content
                .part-content-inner
                    .oferta-features
                        padding 20px
                        background: cinza
                        border-radius radius
                        margin-bottom 25px
                        i.fa
                            color #72D76C
                    #form-newsletter
                        text-align: center
                        margin 40px 0 30px
                        .oferta-btn
                            &:before
                                content "Eu quero esse cupom"