.page.contato
    .page-content
        .main
            form
                .form-inner
                    lost-utility clearfix
                    margin-top 30px
                    .form-side
                        lost-column 1/2 2 30px
                        textarea
                            height 100px
                        i.fa
                            color #999
                        .form-group
                            lost-utility clearfix
                            .control-label
                                lost-column 3/7 2 
                            .input-group
                                lost-column 4/7 2
                                .input-group-addon
                                    cursor pointer
                .btn
                    margin-top 20px
                    float right
