.page.area
    .page-content
        .main
            .part-content
                .part-content-inner
                    margin-bottom 20px
                    li
                        lost-column 1/3 3
                        list-style: disc
                        list-style-position inside
