.page.error404
    .page-content
        lost-center 600px
        text-align center
        ul
            margin-top 20px
            text-align: left
            li
                display list-item
                list-style disc
                list-style-position: inside
        .btn
            margin-top 20px
