img-width-blog=380px
img-height-blog=280px
img-prop-blog=1
.page.blog
    .content
        .content-inner
            .page-content
                .main
                    display block
                    padding-left: 20px
                    lost-utility clearfix
                    .part
                        lost-column 1/2 2
                        .part-rear
                            position: relative
                            margin 0 auto
                            background: colors
                            width img-width-blog*img-prop-blog
                            height img-height-blog*img-prop-blog+90px
                            margin-bottom: 25px
                            .part-img
                                width img-width-blog*img-prop-blog
                                height img-height-blog*img-prop-blog
                        .part-front
                            position: absolute
                            top 0
                            left 0
                            width img-width-blog*img-prop-blog
                            height img-height-blog*img-prop-blog
                            .part-title
                                position absolute
                                top 0
                                left 0
                                display block
                                width 100%
                                color colors
                                padding 10px 20px 
                                background: rgba(white, .9)
                        .part-intro
                            width img-width-blog*img-prop-blog
                            text-align: left
                            overflow: hidden
                            padding 15px
                            a.part-link
                                font-size: 15px
                                line-height: 19px
                                font-weight: bold
                                color white
