*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: #efefef;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
li {
  list-style: none;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.center:before {
  content: '';
  display: table;
}
.center:after {
  content: '';
  display: table;
  clear: both;
}
.left-img {
  float: left;
  padding: 0 20px 15px 0;
}
.right-img {
  float: right;
  padding: 0 0 15px 20px;
}
.center-img {
  text-align: center;
  margin: 5px 0 20px;
}
.center-img img {
  width: 100%;
  height: auto;
}
a[href^=tel]e {
  color: #cdd000;
  text-decoration: none;
  pointer-events: none;
}
a:focus {
  outline: none !important;
}
.postfix.button,
.prefix.button {
  text-align: center !important;
}
a.btn.btn-p,
button.btn.btn-p {
  background: #cdd000;
  border-color: #cdd000;
  color: #fff;
}
a.btn.btn-p:hover,
button.btn.btn-p:hover,
a.btn.btn-p:focus,
button.btn.btn-p:focus {
  background: #dcdf00;
  border-color: #dcdf00;
}
a.btn.btn-s,
button.btn.btn-s {
  background: #033d69;
  border-color: #033d69;
  color: #fff;
}
a.btn.btn-s:hover,
button.btn.btn-s:hover,
a.btn.btn-s:focus,
button.btn.btn-s:focus {
  background: #04487d;
  border-color: #04487d;
}
a.btn.btn-t,
button.btn.btn-t {
  background: #efefef;
  border-color: #efefef;
  color: #fff;
}
a.btn.btn-t:hover,
button.btn.btn-t:hover,
a.btn.btn-t:focus,
button.btn.btn-t:focus {
  background: #f0f0f0;
  border-color: #f0f0f0;
}
a.btn.btn-q,
button.btn.btn-q {
  background: transparent;
  border-color: transparent;
  color: #fff;
  border-color: #efefef;
}
a.btn.btn-q:hover,
button.btn.btn-q:hover,
a.btn.btn-q:focus,
button.btn.btn-q:focus {
  background: rgba(13,13,13,0);
  border-color: rgba(13,13,13,0);
}
a.btn.btn-q:hover,
button.btn.btn-q:hover,
a.btn.btn-q:focus,
button.btn.btn-q:focus {
  border-color: #f2f2f2;
}
.btn {
  border-radius: 6px;
}
a.btn-huge,
button.btn-huge {
  padding: 20px 40px;
  font-size: 26px;
  font-weight: bold;
}
i.fa.fa-refresh {
  display: none;
}
form.form .form-error {
  display: block;
  border-radius: 6px;
  background: #f04124;
  color: #fff;
  margin: 2px 0 0;
  padding: 0 8px;
  font-size: 14px;
  line-height: 28px;
}
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: normal;
  font-style: normal;
}
a,
p,
.btn,
.input-group-addon,
.form-control {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}
.post .main {
  margin: 35px 0;
}
.post .main .post-content:before {
  content: '';
  display: table;
}
.post .main .post-content:after {
  content: '';
  display: table;
  clear: both;
}
.post .main .post-content .part .part-content {
  overflow: hidden;
  padding: 15px;
  margin-bottom: 25px;
}
.post .main .post-content .part .part-content .part-tags {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 10px;
  background: #303030;
}
.post .main .post-content .part .part-content .part-title {
  margin: 0;
  color: #033d69;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
.post .main .post-content .part .part-content .part-date {
  display: block;
  margin: 10px 0 25px;
  padding: 7px 0;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.home .main {
  position: relative;
  top: -74px;
}
.home .main .slice:nth-child(odd) {
  background: #efefef;
  color: #4d4f52;
}
.home .main .slice:nth-child(odd) .slice-title::after,
.home .main .slice:nth-child(odd) .slice-title::before {
  border-bottom: solid #d7d7d7;
}
.home .main .slice:nth-child(even) {
  background: #033d69;
  color: #fff;
}
.home .main .slice:nth-child(even) .slice-title::after,
.home .main .slice:nth-child(even) .slice-title::before {
  border-bottom: solid #045490;
}
.home .main .slice .slice-inner {
  overflow: hidden;
}
.home .main .slice .slice-inner .slice-title,
.home .main .slice .slice-inner .slice-subtitle {
  text-align: center;
}
.home .main .slice .slice-inner .slice-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}
.home .main .slice .slice-inner .slice-title::after,
.home .main .slice .slice-inner .slice-title::before {
  position: relative;
  content: "";
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.home .main .slice .slice-inner .slice-title::after {
  right: -15px;
  margin-right: -100%;
}
.home .main .slice .slice-inner .slice-title::before {
  left: -15px;
  margin-left: -100%;
}
.home .main .slice .slice-inner .slice-subtitle {
  margin-bottom: 50px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.25);
}
.header .header-inner {
  height: 64px;
}
.header .header-inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  height: 64px;
  margin: 0;
}
.header .header-inner .logo a,
.header .header-inner .logo img {
  display: block;
}
.header .header-inner .logo a {
  width: 215px;
  height: 64px;
  text-indent: -9999px;
  background: url("/assets/img/logo.png?v=101") no-repeat left center;
  background-size: 215px;
}
.header .header-inner nav {
  float: right;
}
.header .header-inner nav ul.nav-list>li:last-child a,
.header .header-inner nav ul.nav-list>li:last-child a:visited {
  background-color: #cdd000;
  color: #fff;
}
.header .header-inner nav ul.nav-list>li:last-child a:hover,
.header .header-inner nav ul.nav-list>li:last-child a:visited:hover {
  background: #dcdf00;
  color: #fff;
}
.header .header-inner nav ul.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .header-inner nav ul.nav-list li {
  float: left;
  position: relative;
}
.header .header-inner nav ul.nav-list li a,
.header .header-inner nav ul.nav-list li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 64px;
  color: #4d4f52;
  text-decoration: none;
  text-transform: capitalize;
}
.header .header-inner nav ul.nav-list li a:hover,
.header .header-inner nav ul.nav-list li a:visited:hover {
  color: #cdd000;
}
.header .header-inner nav ul.nav-list li a:not(:only-child)::after,
.header .header-inner nav ul.nav-list li a:visited:not(:only-child)::after {
  line-height: 20px;
  font-size: 10px;
  padding-left: 4px;
  content: ' \25bc';
}
.header .header-inner nav ul.nav-list li ul.nav-dropdown {
  background: #cdd000;
  list-style: none;
  position: absolute;
  display: none;
  z-index: 1;
  border-radius: 0 0 6px 6px;
}
.header .header-inner nav ul.nav-list li ul.nav-dropdown li {
  min-width: 190px;
}
.header .header-inner nav ul.nav-list li ul.nav-dropdown li:hover {
  background: #fff;
}
.header .header-inner nav ul.nav-list li ul.nav-dropdown li:hover a,
.header .header-inner nav ul.nav-list li ul.nav-dropdown li:hover a:visited {
  color: #4d4f52;
}
.header .header-inner nav ul.nav-list li ul.nav-dropdown li a,
.header .header-inner nav ul.nav-list li ul.nav-dropdown li a:visited {
  color: #fff;
  border-top: none;
  padding: 15px;
  line-height: 20px;
}
.header .header-inner nav div.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  width: 64px;
  background-color: #cdd000;
}
.header .header-inner nav div.nav-mobile a#nav-toggle {
  position: absolute;
  left: 19px;
  top: 28px;
  cursor: pointer;
}
.header .header-inner nav div.nav-mobile a#nav-toggle span,
.header .header-inner nav div.nav-mobile a#nav-toggle span:before,
.header .header-inner nav div.nav-mobile a#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 25px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.header .header-inner nav div.nav-mobile a#nav-toggle span:before {
  top: -7px;
}
.header .header-inner nav div.nav-mobile a#nav-toggle span:after {
  bottom: -7px;
}
.header .header-inner nav div.nav-mobile a#nav-toggle.active span {
  background-color: transparent;
}
.header .header-inner nav div.nav-mobile a#nav-toggle.active span:before,
.header .header-inner nav div.nav-mobile a#nav-toggle.active span:after {
  top: 0;
}
.header .header-inner nav div.nav-mobile a#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .header-inner nav div.nav-mobile a#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.home .footer {
  top: -74px;
  margin-bottom: -74px;
}
.footer {
  overflow: hidden;
  position: relative;
}
.footer .footer-main {
  background: #303030;
}
.footer .footer-main .footer-main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
.footer .footer-main .footer-main-inner .footer-facebook {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-main .footer-main-inner .footer-facebook .facebook-txt,
.footer .footer-main .footer-main-inner .footer-facebook .facebook-link {
  display: inline-block;
}
.footer .footer-main .footer-main-inner .footer-facebook .facebook-txt {
  text-transform: uppercase;
  padding-right: 5px;
}
.footer .footer-main .footer-main-inner .footer-facebook .facebook-txt,
.footer .footer-main .footer-main-inner .footer-facebook .facebook-link {
  color: #fff;
  margin: 0;
}
.footer .footer-main .footer-main-inner .footer-facebook .fa {
  display: block;
  font-size: 28px;
}
.footer .footer-main .footer-main-inner .footer-links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer .footer-main .footer-main-inner .footer-links ul {
  margin: 0;
}
.footer .footer-main .footer-main-inner .footer-links ul:before {
  content: '';
  display: table;
}
.footer .footer-main .footer-main-inner .footer-links ul:after {
  content: '';
  display: table;
  clear: both;
}
.footer .footer-main .footer-main-inner .footer-links ul li {
  width: calc(99.9% * 1/4 - (20px - 20px * 1/4));
  margin-bottom: 2px;
}
.footer .footer-main .footer-main-inner .footer-links ul li:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.footer .footer-main .footer-main-inner .footer-links ul li:last-child {
  margin-right: 0;
}
.footer .footer-main .footer-main-inner .footer-links ul li:nth-child(4n) {
  margin-right: 0;
  float: right;
}
.footer .footer-main .footer-main-inner .footer-links ul li:nth-child(4n + 1) {
  clear: both;
}
.footer .footer-main .footer-main-inner .footer-links ul li:first-child {
  border-left: none;
}
.footer .footer-main .footer-main-inner .footer-links ul li a {
  padding: 5px 15px;
  margin-left: 1px;
  margin-right: 1px;
  display: block;
  background: #373737;
  white-space: nowrap;
  color: #d7d7d7;
}
.footer .footer-main .footer-main-inner .footer-logo {
  margin-right: 30px;
}
.footer .footer-main .footer-main-inner .footer-logo img {
  width: 180px;
}
.footer .footer-copyright {
  background: #fff;
}
.footer .footer-copyright .center {
  padding: 0;
}
.footer .footer-copyright .center .copyright-txt,
.footer .footer-copyright .center .diple-link {
  line-height: 46px;
  margin: 0;
  font-size: 13px;
}
.footer .footer-copyright .center .copyright-txt {
  float: left;
}
.footer .footer-copyright .center .diple-link {
  float: right;
  text-indent: 22px;
  background: url("/assets/img/diple-logo.png") no-repeat left 15px;
  background-size: 17px;
  color: #4d4f52;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.sidebar .sidebar-item {
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(3,61,105,0.5);
  margin-bottom: 20px;
}
.sidebar .sidebar-item .sidebar-title {
  background: #efefef;
  color: #4d4f52;
  text-transform: uppercase;
  text-align: center;
  padding: 14px;
  margin: 0;
}
.sidebar .sidebar-item .sidebar-title i.fa {
  margin-right: 8px;
}
.sidebar .sidebar-item .sidebar-content {
  padding: 20px;
}
.sidebar .sidebar-item .sidebar-content a {
  color: #4d4f52;
}
.sidebar .sidebar-newsletter .sidebar-content .btn {
  color: #4d4f52;
}
.sidebar .sidebar-blog .sidebar-title {
  background: #033d69;
  color: #fff;
}
.sidebar .sidebar-blog .sidebar-content i.fa {
  color: #033d69;
  font-size: 20px;
  margin-right: 10px;
}
.sidebar .sidebar-blog .sidebar-content a {
  display: block;
  color: #4d4f52;
}
@media only screen and (max-width: 800px) {
  .home .intro-home {
    margin-top: 64px;
  }
  .home .main {
    top: 0;
  }
  .home .main .slice .slice-inner .slice-title::before,
  .home .main .slice .slice-inner .slice-title::after {
    content: none;
  }
  .home .main .slice .slice-inner .slice-subtitle {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 800px) {
  .header .header-inner nav {
    width: 100%;
  }
  .header .header-inner nav div.nav-mobile {
    display: block;
  }
  .header .header-inner nav ul.nav-list>li:last-child a,
  .header .header-inner nav ul.nav-list>li:last-child a:visited {
    color: #fff;
    border-top: none;
    background: #cdd000;
  }
  .header .header-inner nav ul.nav-list>li:last-child a:hover,
  .header .header-inner nav ul.nav-list>li:last-child a:visited:hover {
    border-top: none;
    background: #cdd000;
  }
  .header .header-inner nav ul.nav-list {
    display: none;
    background: #fff;
    padding-bottom: 25px;
  }
  .header .header-inner nav ul.nav-list li {
    margin-right: 25px;
    margin-left: 25px;
    border-bottom: 1px solid #fcff0d;
    float: none;
  }
  .header .header-inner nav ul.nav-list li a,
  .header .header-inner nav ul.nav-list li a:visited {
    padding: 15px;
    line-height: 20px;
    font-weight: normal;
    font-size: 1.6em;
  }
  .header .header-inner nav ul.nav-list li ul.nav-dropdown {
    background-color: #fcff0d;
    position: static;
    border-radius: 0;
  }
  .header .header-inner nav ul.nav-list li ul.nav-dropdown li {
    border: none;
    margin-left: 0;
  }
  .header .header-inner nav ul.nav-list li ul.nav-dropdown li a,
  .header .header-inner nav ul.nav-list li ul.nav-dropdown li a:visited {
    border-left: 3px solid #fff;
    color: #fff;
    padding-left: 30px;
  }
  .header .header-inner nav ul.nav-list li ul.nav-dropdown li a:hover,
  .header .header-inner nav ul.nav-list li ul.nav-dropdown li a:visited:hover {
    color: #fff;
  }
}
@media only screen and (min-width: 800px) {
  .header .header-inner nav ul.nav-list {
    display: block !important;
  }
}
@media only screen and (max-width: 800px) {
  .home .footer {
    top: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1230px) {
  .footer .footer-main .footer-main-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .footer-main .footer-main-inner .footer-links ul li {
    width: calc(99.9% * 1/3 - (20px - 20px * 1/3));
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:last-child {
    margin-right: 0;
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:nth-child(3n + 1) {
    clear: both;
  }
  .footer .footer-copyright {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 810px) {
  .footer .footer-main .footer-main-inner .footer-links ul li {
    width: calc(99.9% * 1/2);
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:last-child {
    margin-right: 0;
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .footer .footer-main .footer-main-inner .footer-links ul li:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 670px) {
  .footer .footer-main .footer-main-inner {
    display: block;
  }
  .footer .footer-main .footer-main-inner:before {
    content: '';
    display: table;
  }
  .footer .footer-main .footer-main-inner:after {
    content: '';
    display: table;
    clear: both;
  }
  .footer .footer-main .footer-main-inner .footer-links {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer .footer-main .footer-main-inner .footer-logo,
  .footer .footer-main .footer-main-inner .footer-links,
  .footer .footer-main .footer-main-inner .footer-facebook {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  }
  .footer .footer-main .footer-main-inner .footer-logo:nth-child(1n),
  .footer .footer-main .footer-main-inner .footer-links:nth-child(1n),
  .footer .footer-main .footer-main-inner .footer-facebook:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .footer .footer-main .footer-main-inner .footer-logo:last-child,
  .footer .footer-main .footer-main-inner .footer-links:last-child,
  .footer .footer-main .footer-main-inner .footer-facebook:last-child {
    margin-right: 0;
  }
  .footer .footer-main .footer-main-inner .footer-logo:nth-child(1n),
  .footer .footer-main .footer-main-inner .footer-links:nth-child(1n),
  .footer .footer-main .footer-main-inner .footer-facebook:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .footer .footer-main .footer-main-inner .footer-logo:nth-child(1n + 1),
  .footer .footer-main .footer-main-inner .footer-links:nth-child(1n + 1),
  .footer .footer-main .footer-main-inner .footer-facebook:nth-child(1n + 1) {
    clear: both;
  }
  .footer .footer-main .footer-main-inner .footer-logo,
  .footer .footer-main .footer-main-inner .footer-facebook {
    display: block;
    text-align: center;
  }
  .footer .footer-copyright .center {
    text-align: center;
  }
  .footer .footer-copyright .center .copyright-txt,
  .footer .footer-copyright .center .diple-link {
    float: none;
    line-height: 20px;
  }
  .footer .footer-copyright .center .diple-link {
    display: inline-block;
    background-position: 0;
  }
}
.page.area .page-content .main .part-content .part-content-inner {
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
  .page.area .page-content .part.part-img .part-content img {
    width: auto;
    height: 100px;
  }
}
.page.cupons .page-content .main .part-content .part-content-inner .oferta-features {
  padding: 20px;
  background: #efefef;
  border-radius: 6px;
  margin-bottom: 25px;
}
.page.cupons .page-content .main .part-content .part-content-inner .oferta-features i.fa {
  color: #72d76c;
}
.page.cupons .page-content .main .part-content .part-content-inner #form-newsletter {
  text-align: center;
  margin: 40px 0 30px;
}
.page.cupons .page-content .main .part-content .part-content-inner #form-newsletter .oferta-btn:before {
  content: "Eu quero esse cupom";
}
@media only screen and (max-width: 768px) {
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-img {
    width: calc(99.9% * 1/1);
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-img:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-img:last-child {
    margin-right: 0;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-img:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-img:nth-child(1n + 1) {
    clear: both;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-features {
    width: calc(99.9% * 1/1);
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-features:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-features:last-child {
    margin-right: 0;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-features:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner .oferta-features:nth-child(1n + 1) {
    clear: both;
  }
  .page.oferta .page-content .sidemain .part-content .part-content-inner #form-newsletter .oferta-btn:before {
    content: "";
  }
}
.page.error404 .page-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.page.error404 .page-content:before {
  content: '';
  display: table;
}
.page.error404 .page-content:after {
  content: '';
  display: table;
  clear: both;
}
.page.error404 .page-content ul {
  margin-top: 20px;
  text-align: left;
}
.page.error404 .page-content ul li {
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}
.page.error404 .page-content .btn {
  margin-top: 20px;
}
.page.blog .page-content .part {
  position: relative;
  overflow: hidden;
  width: calc(99.9% * 1/3 - (20px - 20px * 1/3));
  height: 378px;
  padding: 0;
  border: 14px solid #fff;
  box-shadow: 0 0 1px 0 rgba(3,61,105,0.5);
  text-align: center;
  border-radius: 6px;
}
.page.blog .page-content .part:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.page.blog .page-content .part:last-child {
  margin-right: 0;
}
.page.blog .page-content .part:nth-child(3n) {
  margin-right: 0;
  float: right;
}
.page.blog .page-content .part:nth-child(3n + 1) {
  clear: both;
}
.page.blog .page-content .part .part-rear {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 240px;
  z-index: 9;
}
.page.blog .page-content .part .part-rear .part-img {
  width: 100%;
  height: auto;
}
.page.blog .page-content .part .part-front {
  position: relative;
  width: 100%;
  height: 240px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #033d69;
}
.page.blog .page-content .part .part-front:hover {
  border-color: #3ca8f9;
  text-decoration: none;
}
.page.blog .page-content .part .part-front .part-title {
  color: #cdd000;
  padding: 10px 20px;
  border-radius: 6px;
  background: rgba(255,255,255,0.9);
  margin: 0;
}
.page.blog .page-content .part .part-intro {
  width: 100%;
  background: #033d69;
  text-align: left;
  overflow: hidden;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.page.blog .page-content .part .part-intro a.part-link {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .page.blog .page-content .part {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
    height: auto;
  }
  .page.blog .page-content .part:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .page.blog .page-content .part:last-child {
    margin-right: 0;
  }
  .page.blog .page-content .part:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page.blog .page-content .part:nth-child(1n + 1) {
    clear: both;
  }
  .page.blog .page-content .part .part-rear,
  .page.blog .page-content .part .part-front {
    height: 200px;
  }
  .page.blog .page-content .part .part-intro {
    height: auto;
  }
}
.page.contato .page-content .main form .form-inner {
  margin-top: 30px;
}
.page.contato .page-content .main form .form-inner:before {
  content: '';
  display: table;
}
.page.contato .page-content .main form .form-inner:after {
  content: '';
  display: table;
  clear: both;
}
.page.contato .page-content .main form .form-inner .form-side {
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
}
.page.contato .page-content .main form .form-inner .form-side:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.page.contato .page-content .main form .form-inner .form-side:last-child {
  margin-right: 0;
}
.page.contato .page-content .main form .form-inner .form-side:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.page.contato .page-content .main form .form-inner .form-side:nth-child(2n + 1) {
  clear: both;
}
.page.contato .page-content .main form .form-inner .form-side textarea {
  height: 100px;
}
.page.contato .page-content .main form .form-inner .form-side i.fa {
  color: #999;
}
.page.contato .page-content .main form .form-inner .form-side .form-group:before {
  content: '';
  display: table;
}
.page.contato .page-content .main form .form-inner .form-side .form-group:after {
  content: '';
  display: table;
  clear: both;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .control-label {
  width: calc(99.9% * 3/7 - (20px - 20px * 3/7));
}
.page.contato .page-content .main form .form-inner .form-side .form-group .control-label:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .control-label:last-child {
  margin-right: 0;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .control-label:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .control-label:nth-child(2n + 1) {
  clear: both;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .input-group {
  width: calc(99.9% * 4/7 - (20px - 20px * 4/7));
}
.page.contato .page-content .main form .form-inner .form-side .form-group .input-group:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .input-group:last-child {
  margin-right: 0;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .input-group:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .input-group:nth-child(2n + 1) {
  clear: both;
}
.page.contato .page-content .main form .form-inner .form-side .form-group .input-group .input-group-addon {
  cursor: pointer;
}
.page.contato .page-content .main form .btn {
  margin-top: 20px;
  float: right;
}
@media only screen and (max-width: 800px) {
  .page.contato .page-content .sidemain form .form-inner .form-side {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  }
  .page.contato .page-content .sidemain form .form-inner .form-side:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side:last-child {
    margin-right: 0;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side:nth-child(1n + 1) {
    clear: both;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .control-label {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .control-label:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .control-label:last-child {
    margin-right: 0;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .control-label:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .control-label:nth-child(1n + 1) {
    clear: both;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .input-group {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .input-group:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .input-group:last-child {
    margin-right: 0;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .input-group:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page.contato .page-content .sidemain form .form-inner .form-side .form-group .input-group:nth-child(1n + 1) {
    clear: both;
  }
  .page.contato .page-content .sidemain form .btn {
    margin-bottom: 20px;
  }
}
.page.sobre .page-content .main .part-content .part-content-inner {
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
  .page.sobre .page-content .part .part-content .part-image img {
    height: 216px;
  }
}
.page-one-column .content {
  margin-bottom: 10px;
}
.page-one-column .content .content-inner {
  padding: 20px;
}
.page-one-column .content .content-inner .page-content:before {
  content: '';
  display: table;
}
.page-one-column .content .content-inner .page-content:after {
  content: '';
  display: table;
  clear: both;
}
.page-one-column .content .content-inner .page-content .main {
  width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  overflow: hidden;
  background: #fff;
  padding: 30px 20px 20px 50px;
  box-shadow: 0 0 1px 0 rgba(3,61,105,0.5);
  margin-bottom: 20px;
}
.page-one-column .content .content-inner .page-content .main:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.page-one-column .content .content-inner .page-content .main:last-child {
  margin-right: 0;
}
.page-one-column .content .content-inner .page-content .main:nth-child(1n) {
  margin-right: 0;
  float: right;
}
.page-one-column .content .content-inner .page-content .main:nth-child(1n + 1) {
  clear: both;
}
.page-one-column .content .content-inner .page-content .main .part-header .part-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}
.page-one-column .content .content-inner .page-content .main .part-header .part-img img {
  width: 100%;
  height: auto;
}
.page-one-column .content .content-inner .page-content .main .part-header .part-img .part-subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: 0;
  background: #033d69;
  padding: 8px 13px;
  z-index: 9;
}
.page-one-column .content .content-inner .page-content .main .part-content {
  overflow: hidden;
  background: #fff;
}
.page-one-column .content .content-inner .page-content .main .part-content:before {
  content: '';
  display: table;
}
.page-one-column .content .content-inner .page-content .main .part-content:after {
  content: '';
  display: table;
  clear: both;
}
.page-one-column .content .content-inner .page-content .main .part-content .part-title {
  text-align: left;
  margin: 20px 0 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #cdd000;
}
.page-one-column .content .content-inner .page-content .main .part-content .part-title i.fa {
  color: #cdd000;
  margin-right: 5px;
}
@media only screen and (max-width: 800px) {
  .page-one-column .main .main-inner {
    padding: 0;
  }
  .page-one-column .main .main-inner .page-content .sidebar {
    display: none;
  }
  .page-one-column .main .main-inner .page-content .sidemain {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
    padding: 0;
  }
  .page-one-column .main .main-inner .page-content .sidemain:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .page-one-column .main .main-inner .page-content .sidemain:last-child {
    margin-right: 0;
  }
  .page-one-column .main .main-inner .page-content .sidemain:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page-one-column .main .main-inner .page-content .sidemain:nth-child(1n + 1) {
    clear: both;
  }
  .page-one-column .main .main-inner .page-content .sidemain .part-title {
    margin: 0 0 0 20px;
  }
  .page-one-column .main .main-inner .page-content .sidemain .part-title:first-child {
    margin-top: 25px;
  }
}
.page-two-column .content {
  margin-bottom: 10px;
}
.page-two-column .content .content-inner {
  padding: 20px;
}
.page-two-column .content .content-inner .page-content:before {
  content: '';
  display: table;
}
.page-two-column .content .content-inner .page-content:after {
  content: '';
  display: table;
  clear: both;
}
.page-two-column .content .content-inner .page-content .sidebar {
  width: calc(99.9% * 4/14 - (20px - 20px * 4/14));
}
.page-two-column .content .content-inner .page-content .sidebar:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.page-two-column .content .content-inner .page-content .sidebar:last-child {
  margin-right: 0;
}
.page-two-column .content .content-inner .page-content .sidebar:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.page-two-column .content .content-inner .page-content .sidebar:nth-child(2n + 1) {
  clear: both;
}
.page-two-column .content .content-inner .page-content .main {
  width: calc(99.9% * 10/14 - (20px - 20px * 10/14));
  overflow: hidden;
  background: #fff;
  padding: 30px 20px 20px 50px;
  box-shadow: 0 0 1px 0 rgba(3,61,105,0.5);
  margin-bottom: 20px;
}
.page-two-column .content .content-inner .page-content .main:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.page-two-column .content .content-inner .page-content .main:last-child {
  margin-right: 0;
}
.page-two-column .content .content-inner .page-content .main:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.page-two-column .content .content-inner .page-content .main:nth-child(2n + 1) {
  clear: both;
}
.page-two-column .content .content-inner .page-content .main .part-header .part-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}
.page-two-column .content .content-inner .page-content .main .part-header .part-img img {
  width: 100%;
  height: auto;
}
.page-two-column .content .content-inner .page-content .main .part-header .part-img .part-subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: 0;
  background: #033d69;
  padding: 8px 13px;
  z-index: 9;
}
.page-two-column .content .content-inner .page-content .main .part-content {
  overflow: hidden;
  background: #fff;
}
.page-two-column .content .content-inner .page-content .main .part-content:before {
  content: '';
  display: table;
}
.page-two-column .content .content-inner .page-content .main .part-content:after {
  content: '';
  display: table;
  clear: both;
}
.page-two-column .content .content-inner .page-content .main .part-content .part-title {
  text-align: left;
  margin: 20px 0 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #cdd000;
}
.page-two-column .content .content-inner .page-content .main .part-content .part-title i.fa {
  color: #cdd000;
  margin-right: 5px;
}
@media only screen and (max-width: 800px) {
  .page-two-column .content .content-inner {
    padding: 0;
  }
  .page-two-column .content .content-inner .page-content .sidebar {
    display: none;
  }
  .page-two-column .content .content-inner .page-content .main {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
    padding: 0 20px 20px;
  }
  .page-two-column .content .content-inner .page-content .main:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .page-two-column .content .content-inner .page-content .main:last-child {
    margin-right: 0;
  }
  .page-two-column .content .content-inner .page-content .main:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .page-two-column .content .content-inner .page-content .main:nth-child(1n + 1) {
    clear: both;
  }
  .page-two-column .content .content-inner .page-content .main .part-header {
    display: none;
  }
}
.remodal .remodal-inner .remodal-close {
  left: auto !important;
  right: 5px !important;
  color: #033d69 !important;
  font-weight: bold !important;
}
.remodal .remodal-inner .modal-header .modal-title {
  color: #033d69;
  font-weight: bold;
  text-align: center;
}
.remodal .remodal-inner .modal-body .part-img {
  width: 100%;
  height: auto;
}
.remodal .remodal-inner .modal-footer {
  text-align: right;
  padding: 31px 0 0;
}
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.share .share-txt {
  margin: 0;
  display: inline-block;
  padding-right: 5px;
}
.share a.btn {
  color: #fff;
  background: #033d69;
  border-color: #033d69;
  color: #fff;
}
.share a.btn:hover,
.share a.btn:focus {
  background: #04487d;
  border-color: #04487d;
}
.share a.btn i.fa {
  padding-right: 6px;
  border-right: 1px solid #021e35;
}
.share a.btn span {
  padding-left: 6px;
}
.intro-home {
  height: 80vh;
  background-image: url("/assets/img/site-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% 100%;
}
.intro-home .intro-home-inner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80vh;
  color: #fff;
  text-shadow: -1px -1px 4px rgba(0,0,0,0.7);
}
.intro-home .intro-home-inner .intro-home-title {
  margin: 0;
  font-size: 60px;
  line-height: 50px;
  font-weight: 700;
}
.intro-home .intro-home-inner .intro-home-description {
  font-size: 30px;
}
@media only screen and (max-width: 800px) {
  .intro-home .intro-home-inner {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 340px) {
  .intro-home .intro-home-inner .intro-home-title {
    font-size: 50px;
    line-height: 44px;
  }
  .intro-home .intro-home-inner .intro-home-description {
    line-height: 30px;
  }
}
.intro-page {
  padding-top: 64px;
  overflow: hidden;
}
.intro-page .intro-page-img {
  position: absolute;
  width: 100%;
}
.intro-page .intro-page-img img,
.intro-style {
  display: block;
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-page .intro-page-inner {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro-page .intro-page-inner .intro-page-title,
.intro-page .intro-page-inner .intro-page-description {
  position: relative;
  color: #fff;
  margin: 0;
}
.intro-page .intro-page-inner .intro-page-title {
  font-size: 50px;
  line-height: 48px;
  font-weight: 700;
}
.intro-page .intro-page-inner .intro-page-description {
  font-size: 18px;
}
.intro-style {
  position: absolute;
  background: rgba(3,61,105,0.8);
}
@media only screen and (max-width: 1230px) {
  .intro-page .intro-page-inner {
    text-align: center;
  }
  .intro-page .intro-page-inner .intro-page-title {
    font-size: 50px;
    line-height: 44px;
  }
}
@media only screen and (max-width: 340px) {
  .intro-page .intro-page-inner .intro-page-description {
    margin-top: 10px;
    line-height: 20px;
  }
}
.cards-group {
  padding-bottom: 30px;
}
.cards-group ul.cards {
  margin-bottom: 0;
}
.cards-group ul.cards li.cards-inner {
  width: calc(99.9% * 1/3 - (20px - 20px * 1/3));
  padding: 20px 30px;
  background: #fff;
  box-shadow: 0 5px 12px 0 rgba(0,0,0,0.15);
  border: 8px solid rgba(0,0,0,0.3);
  background-clip: padding-box;
}
.cards-group ul.cards li.cards-inner:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.cards-group ul.cards li.cards-inner:last-child {
  margin-right: 0;
}
.cards-group ul.cards li.cards-inner:nth-child(0n) {
  float: right;
}
.cards-group ul.cards li.cards-inner .cards-title-group {
  overflow: hidden;
  height: 60px;
}
.cards-group ul.cards li.cards-inner .cards-title-group i.cards-icon {
  float: left;
  width: 55px;
  height: 54px;
  font-size: 55px;
}
.cards-group ul.cards li.cards-inner .cards-title-group .card-icon-0 {
  color: #87cdd2;
}
.cards-group ul.cards li.cards-inner .cards-title-group .card-icon-1 {
  color: #eb5e50;
}
.cards-group ul.cards li.cards-inner .cards-title-group .card-icon-2 {
  color: #22ad84;
}
.cards-group ul.cards li.cards-inner .cards-title-group .cards-title {
  float: left;
  width: calc(100% - 55px);
  font-size: 30px;
  line-height: 1;
  margin-top: 0;
  font-weight: bold;
  padding-left: 15px;
}
.cards-group ul.cards li.cards-inner .cards-content-group {
  height: 205px;
  margin: 0 0 15px 0;
  overflow: hidden;
}
.cards-group ul.cards li.cards-inner .cards-saibamais {
  color: #fff;
  text-transform: uppercase;
}
.cards-group ul.cards li.cards-inner .cards-saibamais:after {
  content: "Saiba Mais";
}
.cards-group ul.cards li.cards-inner .cards-saibamais i.fa {
  position: relative;
  top: 1px;
  font-size: 18px;
}
@media only screen and (max-width: 1200px) {
  .cards-group ul.cards li.cards-inner .cards-title-group .cards-title {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1100px) {
  .cards-group ul.cards li.cards-inner {
    padding: 20px;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group .cards-title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1000px) {
  .cards-group {
    padding-top: 30px;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group {
    height: 48px;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group i.cards-icon {
    width: 38px;
    height: 38px;
    font-size: 40px;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group .cards-title {
    font-size: 20px;
    line-height: 1;
  }
  .cards-group ul.cards li.cards-inner .cards-content-group {
    height: 290px;
  }
}
@media only screen and (max-width: 900px) {
  .cards-group ul.cards li.cards-inner .cards-title-group .cards-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .cards-group ul.cards li.cards-inner:not(:last-child) {
    margin-bottom: 10px;
  }
  .cards-group ul.cards li.cards-inner {
    width: calc(99.9% * 1/1);
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px 0 15px;
    height: 70px;
    border: none;
  }
  .cards-group ul.cards li.cards-inner:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .cards-group ul.cards li.cards-inner:last-child {
    margin-right: 0;
  }
  .cards-group ul.cards li.cards-inner:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .cards-group ul.cards li.cards-inner:nth-child(1n + 1) {
    clear: both;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(99.9% * 9/10);
  }
  .cards-group ul.cards li.cards-inner .cards-title-group:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group:last-child {
    margin-right: 0;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group:nth-child(3n + 1) {
    clear: both;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group .cards-title {
    font-size: 28px;
    line-height: 24px;
    margin: 0;
  }
  .cards-group ul.cards li.cards-inner .cards-content-group {
    display: none;
  }
  .cards-group ul.cards li.cards-inner .cards-btn-group {
    width: calc(99.9% * 1/10);
  }
  .cards-group ul.cards li.cards-inner .cards-btn-group:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .cards-group ul.cards li.cards-inner .cards-btn-group:last-child {
    margin-right: 0;
  }
  .cards-group ul.cards li.cards-inner .cards-btn-group:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .cards-group ul.cards li.cards-inner .cards-btn-group:nth-child(3n + 1) {
    clear: both;
  }
  .cards-group ul.cards li.cards-inner .cards-btn-group .cards-saibamais {
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .cards-group ul.cards li.cards-inner .cards-btn-group .cards-saibamais:after {
    content: "";
    line-height: 40px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 340px) {
  .cards-group ul.cards li.cards-inner .cards-title-group i.cards-icon {
    width: 42px;
    font-size: 40px;
  }
  .cards-group ul.cards li.cards-inner .cards-title-group .cards-title {
    font-size: 24px;
  }
}
.slice {
  padding: 30px 0 50px;
}
@media only screen and (max-width: 800px) {
  .slice {
    padding: 20px 0 30px;
  }
}
.slice.depoimentos .depoimentos-main .depoimento:not(:nth-child(3)):not(:nth-child(4)) {
  margin-bottom: 25px;
}
.slice.depoimentos .depoimentos-main .depoimento {
  width: calc(99.9% * 1/2 - (20px - 20px * 1/2));
  overflow: hidden;
  background-color: #fff;
  border: 8px solid rgba(0,0,0,0.3);
  background-clip: padding-box;
}
.slice.depoimentos .depoimentos-main .depoimento:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.slice.depoimentos .depoimentos-main .depoimento:last-child {
  margin-right: 0;
}
.slice.depoimentos .depoimentos-main .depoimento:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.slice.depoimentos .depoimentos-main .depoimento:nth-child(2n + 1) {
  clear: both;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-img {
  overflow: hidden;
  width: calc(99.9% * 3/10 - (20px - 20px * 3/10));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-img:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-img:last-child {
  margin-right: 0;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-img:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-img:nth-child(2n + 1) {
  clear: both;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-img a {
  height: 142px;
  text-align: center;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-img a img {
  height: 100%;
  width: auto;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-txt {
  padding: 5px 10px;
  border-radius: 6px;
  width: calc(99.9% * 7/10 - (20px - 20px * 7/10));
  overflow: hidden;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:last-child {
  margin-right: 0;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:nth-child(2n + 1) {
  clear: both;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-nome {
  float: right;
  padding: 0 5px;
  background-color: #cdd000;
  border-radius: 6px 0 0 0;
}
.slice.depoimentos .depoimentos-main .depoimento .depoimento-nome a,
.slice.depoimentos .depoimentos-main .depoimento .depoimento-nome i.fa {
  color: #fff;
}
@media only screen and (max-width: 1200px) {
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-txt p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #d7d7d7;
    width: calc(99.9% * 3/12);
    height: 150px;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img:last-child {
    margin-right: 0;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img:nth-child(2n + 1) {
    clear: both;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-txt {
    width: calc(99.9% * 9/12 - (20px - 20px * 9/12));
    height: 100%;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:last-child {
    margin-right: 0;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-txt:nth-child(2n + 1) {
    clear: both;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-nome {
    border-radius: 0;
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
    text-align: center;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-nome:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-nome:last-child {
    margin-right: 0;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-nome:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-nome:nth-child(1n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 850px) {
  .slice.depoimentos .depoimentos-main .depoimento:not(:nth-child(3)):not(:nth-child(4)) {
    margin-bottom: 10px;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img {
    height: 210px;
  }
}
@media only screen and (max-width: 750px) {
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img {
    height: 190px;
  }
}
@media only screen and (max-width: 650px) {
  .slice.depoimentos .depoimentos-main .depoimento {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  }
  .slice.depoimentos .depoimentos-main .depoimento:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .slice.depoimentos .depoimentos-main .depoimento:last-child {
    margin-right: 0;
  }
  .slice.depoimentos .depoimentos-main .depoimento:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .slice.depoimentos .depoimentos-main .depoimento:nth-child(1n + 1) {
    clear: both;
  }
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img {
    height: 170px;
  }
}
@media only screen and (max-width: 500px) {
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img {
    height: 160px;
  }
}
@media only screen and (max-width: 400px) {
  .slice.depoimentos .depoimentos-main .depoimento .depoimento-img {
    height: 190px;
  }
}
.slice.price-table .price-table-main .carousel-price {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 323px;
}
.slice.price-table .price-table-main .carousel-price:before {
  content: '';
  display: table;
}
.slice.price-table .price-table-main .carousel-price:after {
  content: '';
  display: table;
  clear: both;
}
.slice.price-table .price-table-main .carousel-price .item ul.price {
  background: #fff;
  padding: 0 0 20px;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-field {
  text-align: center;
  color: #4d4f52;
  font-size: 16px;
  border-bottom: 3px solid #efefef;
  margin: 10px 20px;
  padding: 7px 0;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-field small {
  font-size: 11px;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-btn {
  text-align: center;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-velocidade.fibra {
  background: #87cdd2;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-velocidade.fibra p {
  border-top: 1px solid #9fd7db;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-velocidade.fibra:after {
  border-top: 12px solid #87cdd2;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-velocidade {
  position: relative;
  text-align: center;
  background: #eb5e50;
  font-weight: bold;
  font-size: 34px;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-velocidade p {
  padding-top: 10px;
  font-size: 18px;
  border-top: 2px solid #f18e85;
}
.slice.price-table .price-table-main .carousel-price .item ul.price li.price-velocidade:after {
  border-top: 12px solid #eb5e50;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: -11px;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 0;
  height: 0;
}
@media only screen and (max-width: 1000px) {
  .slice.price-table .price-table-main {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .slice.price-table .price-table-main:before {
    content: '';
    display: table;
  }
  .slice.price-table .price-table-main:after {
    content: '';
    display: table;
    clear: both;
  }
  .slice.price-table .price-table-main ul.price {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  }
  .slice.price-table .price-table-main ul.price:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .slice.price-table .price-table-main ul.price:last-child {
    margin-right: 0;
  }
  .slice.price-table .price-table-main ul.price:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .slice.price-table .price-table-main ul.price:nth-child(1n + 1) {
    clear: both;
  }
}
.slice.newsletter .slice-inner {
  padding: 0 15px;
}
.slice.newsletter .slice-inner .form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.slice.newsletter .slice-inner .form:before {
  content: '';
  display: table;
}
.slice.newsletter .slice-inner .form:after {
  content: '';
  display: table;
  clear: both;
}
.slice.newsletter .slice-inner .form .input-group {
  background-clip: padding-box;
}
.slice.newsletter .slice-inner .form .input-group .btn {
  color: #033d69;
}
.slice.newsletter .slice-inner .form .input-group .btn:after {
  content: " Enviar";
}
.slice.newsletter .slice-inner .form .help-block {
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .slice.newsletter .slice-inner .form .input-group .btn:after {
    content: "";
  }
}

/*# sourceMappingURL=style.css.map */
