@lost gutter 20px
@lost cycle none
@import "/globals/___variables"
@import "/globals/___tool"
@import "/globals/__global"
@import "/globals/__typo"
@import "/globals/post"
@import "/globals/home"
@import "/globals/header"
@import "/globals/footer"
@import "/globals/sidebar"
@import "/globals/_home-mob"
@import "/globals/_header-mob"
@import "/globals/_footer-mob"
@import "/pages/page-adicional"
@import "/pages/_page-adicional-mob"
@import "/pages/page-area"
@import "/pages/_page-area-mob"
@import "/pages/page-info"
@import "/pages/_page-info-mob"
@import "/pages/page-info2"
@import "/pages/_page-info2-mob"
@import "/pages/page-produtos"
@import "/pages/_page-produtos-mob"
@import "/pages/page-destaques"
@import "/pages/page-oferta"
@import "/pages/_page-oferta-mob"
@import "/pages/page-404"
@import "/pages/page-blog"
@import "/pages/_page-blog-mob"
@import "/pages/page-contato"
@import "/pages/_page-contato-mob"
@import "/pages/page-sobre"
@import "/pages/_page-sobre-mob"
@import "/pages/page"
@import "/pages/_page-mob"
@import "/parts/_modal"
@import "/parts/share"
@import "/parts/intro-home"
@import "/parts/_intro-home-mob"
@import "/parts/intro-page"
@import "/parts/_intro-page-mob"
@import "/parts/cards"
@import "/parts/_cards-mob"
@import "/parts/slice"
@import "/parts/slice-depoimentos"
@import "/parts/_slice-depoimentos-mob"
@import "/parts/slice-destaque"
@import "/parts/_slice-destaque-mob"
@import "/parts/slice-newsletter"
@import "/parts/_slice-newsletter-mob"
