//colors
colorp = #FF4000
colors = #252F81
colort = white
cinza = #EFEFEF
texts = #4D4F52

//border-radius
radius = 6px

//logo width size (max=215px)
logo-size = 215px

//nav
content-width = 1000px
break-nav = 800px
nav-height = 64px
link-hover-color = #2581DC

//intro-page, intro-post e intro-product style
intro-style = true

break1 = 1000px
break2 = 750px
break3 = 500px
