.header         
    .header-inner
        +below(break-nav)
            nav
                width 100%
                div.nav-mobile
                    display block
                ul.nav-list>li:last-child a, ul.nav-list>li:last-child a:visited
                    color white
                    border-top none
                    background: colorp
                    &:hover
                        border-top none
                        background colorp
                ul.nav-list
                    display none
                    background: white
                    padding-bottom 25px
                    li
                        margin-right 25px
                        margin-left 25px
                        border-bottom 1px solid lighten(colorp, 20%)
                        float none
                        a, a:visited
                            padding 15px
                            line-height: 20px
                            font-weight: normal
                            font-size: 1.6em
                        ul.nav-dropdown
                            background-color lighten(colorp, 20%)
                            position static
                            border-radius 0
                            li
                                border none
                                margin-left 0
                                a, a:visited
                                    border-left 3px solid white
                                    color white
                                    padding-left 30px
                                    &:hover
                                        color white
                        
.header         
    .header-inner
        nav
            ul.nav-list
                +above(break-nav)
                    display block!important