.header
    .header-inner
        +below(break-nav)
            nav
                width 100%
                div.nav-mobile
                    display block
                ul.nav-list
                    display none
                    background: white
                    padding-bottom 25px
                    li
                        margin-right 25px
                        margin-left 25px
                        border-bottom 1px solid lighten(colorp, 20%)
                        float none
                        a, a:visited
                            padding 15px
                            line-height: 20px
                            font-weight: normal
                            font-size: 1.6em
                ul.nav-list > li > a:first-child
                    border none
.header
    .header-inner
        nav
            ul.nav-list
                +above(break-nav)
                    display block!important