.home
    +below(break-nav)
        .intro-home
            margin-top nav-height
        .main
            top 0
            .slice
                .slice-inner
                    .slice-title
                        &::before, &::after
                            content none
                    .slice-subtitle
                        margin-bottom 25px