.page.info2
    +below(1200px)
        .page-content
            .sidemain
                .part-content
                    .part-content-inner
                        lost-column 1/1 1
                        
    +below(800px)
        .page-content
            .sidemain
                .part-content
                    .part-content-inner
                        .part-title
                            font-size: 18px
                    .part-btn
                        .info2-btn
                            &:before
                                content "Orçamento"