.page
    +below(800px)
        .main
            .main-inner
                padding 0
                .page-content
                    .part
                        lost-column 1/1 1
                        padding: 0
                        .part-content
                            height auto
                            img
                                width 100%
                                height auto
                    .part-category
                        .part-category-content
                            .part
                                lost-column 1/1 1
