.page.info
    +below(768px)
        .main
            .main-inner
                .page-content
                    .part
                        .part-content
                            .medidas
                                .medidas-img
                                    lost-column 1/1 1
                                    border-bottom 0
                                    margin-top 20px
                                .medidas-table
                                    margin-top 0
                                    lost-column 1/1 1
