.page.blog
    +below(800px)
        .main
            .main-inner
                .page-content
                    .part
                        lost-column 1/1 1
                        height auto
                        .part-rear
                        .part-front
                            height 200px
                        .part-intro
                            height auto
