.page.produtos
    +below(800px)
        .page-content
            .part-category
                .part-category-title
                    text-align: center
                .part-category-content
                    .part
                        height auto
                        .part-rear
                            height 175px
                        .part-front
                            height 175px
                        .part-content
                            height auto
                            a
                                font-weight normal
