.home
    .main
        position: relative
        .slice
            &:nth-child(odd)
                background: cinza
                color texts
            &:nth-child(even)
                background: colors
                color white
            .slice-inner
                overflow hidden
                .slice-title, .slice-subtitle
                    text-align: center
                .slice-title
                    font-weight: bold
                    text-transform: uppercase
                    margin-top  0
                    &::after, &::before
                        position: relative
                        content ""
                        width 100%
                        display inline-block
                        vertical-align middle
                    &::after
                        right -15px
                        margin-right -100%
                    &::before
                        left -15px
                        margin-left: -100%
                .slice-subtitle
                    margin-bottom 50px