.page
    .main
        margin-bottom 10px
        .main-inner
            padding 20px
            .page-content
                lost-utility clearfix
                .part
                    overflow: hidden
                    background: white
                    padding: 20px
                    border 14px solid white
                    box-shadow 0 0 1px 0 rgba(colors, .5)
                    margin-bottom 25px
                    border-radius radius
                    .part-title
                        color colors
                        font-weight: bold
                        text-align: left
                        text-transform: uppercase
                        margin 0 0 15px
                        i.fa
                            color colors + 80%
                    .part-content
                        overflow: hidden
                        background: cinza
                        padding 15px
