.page.info2
    .main
        .main-inner
            .page-content
                .part
                    lost-column 1/2 2
                    .part-content
                        padding 0
                        background: none
                        img
                            width 100%
                            height auto
            .page-footer
                text-align center
                .btn
                    text-transform: uppercase
