.page.destaques
    .main
        .main-inner
            .page-content
                .part
                    padding-top 5px
                    .part-title
                        padding 20px 0
                        background: colors
                        color white
                        text-align: center