.page.area
    .page-content
        .part
            .part-content
                height 400px
        .part.part-txt
            lost-column 4/10 2
        .part.part-img
            lost-column 6/10 2
            .part-content
                padding 0
                text-align: center
                img
                    width auto
                    height 100%
        .part.part-locais
            lost-column 1/1
            .part-content
                height auto