.page.info2
    .page-content
        .sidemain
            .part-content
                .part-content-inner
                    lost-column 1/2 2
                    margin-bottom 20px
                    .part-img
                        border 4px solid colors
                        background: white
                        overflow: hidden
                        display block
                        width 100%
                        height 240px
                        text-align: center
                        img
                            transform: scale(1, 1)
                            width auto
                            height 100%
                            transition-duration: 0.4s;
                        &:hover img
                            transform scale(0.94, 0.94)
                .part-btn
                    lost-column 1/1 1
                    text-align center
                    margin-bottom 25px
                    .info2-btn
                        text-transform: uppercase
                        &:before
                            content "Solicitar orçamento"
