.page.sobre
    .page-content
        .part
            lost-column 1/3 3
            .part-content
                height 480px
                .part-image
                    overflow: hidden
                    display flex
                    justify-content center
                    align-items center
                    img
                        height 425px