.sidebar
    .sidebar-item
        overflow: hidden
        background: white
        box-shadow 0 0 1px 0 rgba(colors, .5)
        margin-bottom 20px
        .sidebar-title
            background: cinza
            color texts
            text-transform: uppercase
            text-align: center
            padding 14px
            margin: 0
            i.fa
                margin-right: 8px
        .sidebar-content
            padding 20px
            a
                color texts
    .sidebar-newsletter
        .sidebar-content
            .btn
                color texts
    .sidebar-blog
        .sidebar-title
            background colors
            color white
        .sidebar-content
            i.fa
                color colors
                font-size: 20px
                margin-right: 10px
            a
                display block
                color texts
