<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body class="page page-two-column {% if page.permalink == '/404.html' %}{{ 'error404' }}{% else %}{{ page.permalink | remove: '/' | remove: '.html' }}{% endif %}">
    {% include header.html %}
    {% include parts/intro-page.html %}
    <section class="content">
        <div class="content-inner">
            <div class="center">
                <div class="page-content">
                   {% include sidebar.html %}
                   <div class="main">
                       {{ content }}
                   </div>
                </div>
            </div>
        </div>
    </section>
    {% include modals/contrato.html %}
    {% include footer.html %}
</body>
</html>