<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body class="post">
    {% include header.html %}
    {% include parts/intro-post.html %}
    <section class="content">
        <div class="content-inner">
            <div class="center">
                <div class="page-content">
                    {% include sidebar.html %}
                    <div class="main">
                        {% assign author = site.data.authors[page.author] %}
                        <span itemscope itemtype="http://schema.org/BlogPosting">
                            <meta itemprop="mainEntityOfPage" content="{{ site.url }}" />
                            <meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}" />
                            <meta itemprop="dateModified" content="{{ page.edit | date: '%Y-%m-%d' }}" />
                            <meta itemprop="headline" content="{{ page.title }}" />
                            <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                <meta itemprop="url" content="{{ page.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" />
                                <meta itemprop="width" content="600" />
                                <meta itemprop="height" content="400" />
                            </span>
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <meta itemprop="name" content="{{ author.name }}" />
                            </span>
                            <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                                <meta itemprop="name" content="Diple : Web Design" />
                                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                    <meta itemprop="url" content="{{ '/assets/img/diple-logo.png' | prepend: site.baseurl | prepend: site.url }}">
                                    <meta itemprop="width" content="123">
                                    <meta itemprop="height" content="144">
                                </div>
                            </span>
                        </span>
                        <div class="part-header">
                            <h3 class="part-title">{{ page.title }}</h3>
                            <div class="part-img">
                                <img src="/assets/img/{{ page.image }}" alt="" />
                            </div>
                        </div>
                        <div class="part-content">
                            <div class="part-content-inner">
                                <div class="page-author">
                                    {% if author.facebook %}
                                    <span class="author-label author-facebook">
                                        <i class="fa fa-facebook"></i><a href="https://facebook.com/{{ author.facebook }}" target="_blank">{{ author.facebook }}</a>
                                    </span>
                                    {% endif %}
                                    {% if author.twitter %}
                                    <span class="author-label author-twitter">
                                        <i class="fa fa-twitter"></i><a href="https://twitter.com/{{ author.twitter }}" target="_blank">{{ author.twitter }}</a>
                                    </span>
                                    {% endif %}
                                    {% if author.googleplus %}
                                    <span class="author-label author-googleplus">
                                        <i class="fa fa-google-plus"></i><a href="https://plus.google.com/{{ author.googleplus }}" target="_blank">{{ author.googleplus }}</a>
                                    </span>
                                    {% endif %}
                                    {% if author.name %}
                                    <span class="author-label author-name">
                                        <i class="fa fa-pencil"></i><a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
                                    </span>
                                    {% endif %}
                                </div>
                                {{ content }}
                            </div>
                            {% include parts/share.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include modals/contrato.html %}
    {% include footer.html %}
</body>
</html>