<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body class="post">
    {% include header.html %}
    {% include parts/intro-page.html %}
    <section class="content">
        <div class="content-inner">
            <div class="center">
                <div class="page-content">
                    {% include sidebar.html %}
                    <div class="main">
                        <div class="part-header">
                        </div>
                        <div class="part-content">
                            <div class="part-content-inner">
                                <div class="part-title">
                                </div>
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include modals/contrato.html %}
    {% include footer.html %}
</body>
</html>