<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body class="post">
    {% include header.html %}
    {% include parts/intro-post.html %}
    <section class="content">
        <div class="content-inner">
            <div class="center">
                <div class="page-content">
                    {% include sidebar.html %}
                    <div class="main">
                        <div class="part-header">
                            <h3 class="part-title">{{ page.title }}</h3>
                            <div class="part-img">
                                <img src="/assets/img/{{ page.image }}" alt="" />
                            </div>
                        </div>
                        <div class="part-content">
                            <div class="part-content-inner">
                                {{ content }}
                            </div>
                            {% include parts/share.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include modals/contrato.html %}
    {% include footer.html %}
</body>
</html>